NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

NEXT_PUBLIC_FEATURE_HERO=true
NEXT_PUBLIC_FEATURE_HERO_ANIMATION=true
NEXT_PUBLIC_FEATURE_DESTINATIONS=true
NEXT_PUBLIC_FEATURE_CAROUSEL=true
NEXT_PUBLIC_FEATURE_VIBE_FOOD=true
NEXT_PUBLIC_FEATURE_FAQ=true